#main-window {
    box-shadow: 2px 2px 3px #999;
}

#flash {
	font-weight: bold;
	padding: 0.8em;
	margin-top: 1em;
}

.row {
    padding: 1.4em;
}

#trim-size-form-group {
    margin-bottom: 3em;
}

#target-area-panel {
    margin-bottom: 3em;
}

#source-panel {
    margin-bottom: 3em;
}

#image-form-group {
    margin-bottom: 3em;
}

#image-preview-area {
	margin-left: auto;
	margin-right: auto;
    margin-bottom: 3em;
}

#assessment-panel {
    margin-bottom: 3em;
}

.nailthumb-container {
	float: right;
}

.inline-block {
	display: inline;
}