/*General*/

.bg {
    background: #CCC;
}

.main-title {
    font-weight: bold;
    font-size: 1.8em;
    color: #2b669a;
}

#main-window {
    margin-top: 1em;
    box-shadow: 2px 2px 3px #999;
}

#input-panel,
#assessment-panel {
    height: 566px;
}

.row {
    padding: 1.4em;
}

.print-size-row,
.suitability-row {
    height: 228px;
}

#trim-size-form-group,
#image-form-group {
    margin-bottom: 3em;
}



/*Radio buttons*/

.radio-right {
    margin-left: 0.7em;
}

.inline-radio-icon {
    margin-left: 0.3em;
}




/*Image preview and button*/

.centered-cell {
	text-align: center;
}

.height-attribute {
    padding-right: 3px;
}

#image-preview-area {
	float: right;
}

.preview-container {
	float: right;
}

.inline-block-container {
	vertical-align: bottom;
}

.inline-block {
	display: inline;
}

#assess-image-button {
    float: left;
}




/*XS, S, M, L, XL circles*/

.size-rating-container {
    background: #efefef;
    border-radius: 50%;
    padding: 8px;
    width: 1.8em;
    font-size: 1.4em;
    font-weight: bold;
    position: relative;
    margin-left: 0.5em;
    margin-right: 0.5em;
    float: left;
}

#rated-size {
    background: #ff0000;
}

.size-rating-container .height-fix {
    margin-top: 100%;
}

.size-rating-container .size-rating {
    position: absolute;
    left: 0;
    top: 50%;
    height: 100%;
    width: 100%;
    text-align: center;
    margin-top: -0.7em;
    color: #b8b8b8;
}